[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "==2.2.5"
django-countries = "*"

[requires]
python_version = "3.9.2"

[pipenv]
allow_prereleases = true
